---
---

@import "{{ site.theme }}";

a {
    color: #660099;
}

td img {
	margin: 0;
	padding: 0;
}

header li { background: #660099; background: -moz-linear-gradient(top, #660099 0%, #450064 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd)); background: -webkit-linear-gradient(top, #660099 0%, #450064 100%); background: -o-linear-gradient(top, #660099 0%, #450064 100%); background: -ms-linear-gradient(top, #660099 0%, #450064 100%); background: linear-gradient(top, #660099 0%, #450064 100%); -webkit-box-shadow: inset 0px 1px 1px 0 #ffffff; box-shadow: inset 0px 1px 1px 0 #ffffff; }

header li:hover { background: #FFCC33; background: -moz-linear-gradient(top, #FFCC33 0%, #F2B300 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd)); background: -webkit-linear-gradient(top, #FFCC33 0%, #F2B300 100%); background: -o-linear-gradient(top, #FFCC33 0%, #F2B300 100%); background: -ms-linear-gradient(top, #FFCC33 0%, #F2B300 100%); background: linear-gradient(top, #FFCC33 0%, #F2B300 100%); }